<a href="https://colab.research.google.com/github/yash144-code/python-practice.ipynb/blob/main/python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 9**   
**15/11/2025**

In [ ]:
# printing types
a=10
b=20.6
c="python"
d=6+8j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [ ]:
a=10
b=20.6
c="python"
d=6+8j
print(type(a),type(b),type(d))

<class 'int'> <class 'float'> <class 'complex'>

### Question: Check if a number is positive, negative, or zero.

Write a Python program that asks the user to enter an integer. Based on the input, determine if the number is positive, negative, or zero, and print an appropriate message.

In [ ]:
#practising
integer = int(input("Enter a number:"))
if integer > 0:
    print("The number is positive")
elif integer < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number:5
The number is positive

### Question: Determine if a number is even or odd.

Write a Python program that asks the user to enter an integer. Based on the input, determine if the number is even or odd, and print an appropriate message.

In [ ]:
num=int(input("enter a number:"))
if num % 2 == 0:
  print("even")
else:
  print("odd")

enter a number:8
even

### Question: Check if a string is a palindrome.

Write a Python program that asks the user to enter a string. Based on the input, determine if the string is a palindrome (reads the same forwards and backwards, ignoring case and spaces), and print an appropriate message.

In [ ]:
input_string = input("Enter a string: ")

# Clean the string: convert to lowercase and remove spaces
cleaned_string = input_string.replace(" ", "").lower()

# Check if the cleaned string is equal to its reverse
if cleaned_string == cleaned_string[::-1]:
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome,')

Enter a string: CaallaAc
"CaallaAc" is a palindrome.

**operational statements**

arithematic operator

In [ ]:
a = 5
b =3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

8
2
15
1.6666666666666667
2
1
125

### Question: Arithmetic Operations

Given two numbers, `x = 15` and `y = 4`, calculate and print the results of the following arithmetic operations:

*   Addition (`x + y`)
*   Subtraction (`x - y`)
*   Multiplication (`x * y`)
*   Division (`x / y`)
*   Modulo (`x % y`)
*   Floor Division (`x // y`)
*   Exponentiation (`x ** y`)

Print each result with a descriptive label (e.g., "Addition: ", "Subtraction: ").

In [ ]:
x =15
y= 4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

19
11
60
3.75
3
3
50625

**assignment operators**

### Question: Assignment Operators

Given an initial value `a = 10`:

1.  Add 5 to `a` using the `+=` operator and print the new value of `a`.
2.  Subtract 3 from `a` using the `-=` operator and print the new value of `a`.
3.  Multiply `a` by 2 using the `*=` operator and print the new value of `a`.
4.  Divide `a` by 4 using the `/=` operator and print the new value of `a`.
5.  Calculate the remainder of `a` divided by 3 using the `%=` operator and print the new value of `a`.
6.  Perform floor division of `a` by 2 using the `//=` operator and print the new value of `a`.
7.  Raise `a` to the power of 3 using the `**=` operator and print the new value of `a`.

Print each result with a descriptive label (e.g., "After += 5: ").

In [ ]:
a=10
a+=5
print(a)
a-=3
print(a)
a*=2
print(a)
a/=4
print(a)
a%=3
print(a)
a//=2
print(a)
a**=3
print(a)

15
12
24
6.0
0.0
0.0
0.0

**relational operators**

### Question: Relational Operators

Given two variables: `num1 = 25` and `num2 = 30`.

Write a Python program to compare these two numbers using the relational operators and print the boolean result for each comparison:

In [ ]:
#practising
num1=25
num2=30
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

False
True
False
True
False
True

**unary minus**

In [ ]:
a=20
print(a)
print(-a)

20
-20

**logical operators**

### Question: Logical Operators

Given the following boolean variables:   
a = 20   
b = 22   
c = 25

Write a Python program to evaluate the following expressions using logical operators (`and`, `or`, `not`) and print the boolean result for each:

In [ ]:
a=20
b=22
c=25
print(a<b and b>c)
print(a>b  or a>c)
print(not(b>c))

False
False
True

In [ ]:
a=3
b = 4
c=3
print(a<=b and b>=c)
print(a==b or b==c)
print(not a==b)

True
False
True

**membership operators**

### Question: Membership Operators

Given the following list of fruits: `fruits = ["apple", "banana", "cherry", "date"]`

Write a Python program to perform the following checks using membership operators (`in` and `not in`) and print the boolean result for each:

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
print ("apple" in fruits)
print ("banana" in fruits)
print ("cherry" not in fruits)
print ("dates" in fruits)

True
True
False
False

In [ ]:
para = ("this is python programming")
print("This" in para)
print("this" in para)
print("python " in para)

False
True
True

practice

In [ ]:
def calc_average(*marks):
  return sum(marks)/len(marks)

calc_average(10,20,30)

20.0

In [ ]:
total_seeds = 50000
each_seed_cost = 0.1
total_cost = total_seeds * each_seed_cost
print(total_cost)

5000.0

In [ ]:
customer_name = "yashwanth"
account_num  =  1038264857
balance = 10000
interest_rate = 0.02   #2%
final_amount = balance + (balance *interest_rate)
print(final_amount)

10200.0

In [ ]:
daily_steps = 10000
cal_burned  = 300
workout_hours = 2
is_user_active = True
print(daily_steps ,cal_burned,workout_hours,is_user_active)

10000 300 2 True

•	checking login
•	calculating student grade
•	sending OTP
•	predicting sales

In [ ]:
def check_login():
  pass

def calculate_student_grade():
  pass

def send_otp():
  pass

def predict_sales():
  pass

✅ Problem 1: Personal profile system

Create variables for:

name

age

height

city

is student

Print them with their types.

In [ ]:
name = "Yashwanth"
age = 21
height = 5.2
city = "hyderabad"
is_student = True
print("name:",type(name))
print("age:",type(age))
print("height:",type(height))
print("city:",type(city))
print("is_student:",type(is_student))

name: <class 'str'>
age: <class 'int'>
height: <class 'float'>
city: <class 'str'>
is_student: <class 'bool'>

Problem 2: Online shopping   
Store:   
•	product name   
•	price    
•	quantity    
•	total cost (calculated)

In [ ]:
product_name = "samsung S25"
product_price = 95000
quantity = 2
total_cost = product_price * quantity
print(f"Total cost of {product_name} is ₹{total_cost}")

Total cost of samsung S25 is ₹190000

Problem 3: Banking logic  
Take input from user:   
•	balance   
•	withdraw amount   
Convert types and print remaining balance.

In [ ]:
total_balance = int(input("enter total amount:"))
withdraw_amount = int(input("enter a value:"))
remaining_balance = total_balance - withdraw_amount
print(f"remaining amount is {remaining_balance}")

enter total amount:30000
enter a value:10000
remaining amount is 20000

Problem 1: Billing system

Price = 499
Quantity = 3

Find:

total cost

18% GST

final amount

In [ ]:
price = 499
quantity = 3
gst = 0.18   #18%
total__cost = (price*quantity) + (price*gst*quantity)
print(f"The total cost of {quantity} products is ₹{total__cost}")

The total cost of 3 products is ₹1766.46

✅ Problem 2: ATM check  
User balance and withdraw amount from input.   
Check using operators:  
•	if withdraw ≤ balance → allow  
•	else → insufficient balance

In [ ]:
available_balance = int(input("enter amount available:"))
withdrawl_amount = int(input("enter withdrawl amount:"))

if withdrawl_amount <= available_balance:
  print("allow transaction")
else:
  print("insufficient balance")

enter amount available:20
enter withdrawl amount:10
allow transaction

✅ Problem 3: Student system  
Given marks:  
•	if marks ≥ 90 → A  
•	if 60–89 → B  
•	else → C  
(You will use comparison operators)

In [ ]:
student_name = input("enter the name of student:")
student_marks = int(input("enter marks of student:"))

if student_marks>=90:
  print("Grade A")
elif student_marks>=60 and student_marks<=89:
  print("Grade B")
else:
  print("Grade C")

enter the name of student:Yash
enter marks of student:89
Grade B

✅ Problem 4: Logical thinking  
Create variables:  
•	age  
•	has_id_card  
Check if student is allowed into exam hall  
(Condition: age ≥ 18 AND has_id_card)

In [ ]:
student_age = int(input("enter age:"))
has_id_card_input = input("Do you have ID card? (yes/no): ").lower()
has_id_card = (has_id_card_input == "yes")

if student_age>=18 and has_id_card:
  print("Allow student into exam hall")
else:
  print("Don't allow into exam hall")

enter age:22
Do you have ID card? (yes/no): yes
Allow student into exam hall

✅ Problem 5: Membership logic  
You have:  
courses = ["Python", "Data Science", "AI", "ML"]  
Check if "Python" is in courses.

In [ ]:
courses = ['python','data science','ai','ml']
course_name = "python"

if course_name in courses:
  print("yes it is")
else:
  print("no it's not")

yes it is

In [ ]:
courses = ['python','data science','ai','ml']
course_name = input("enter course name:")

if course_name in courses:
  print("yes it is")
else:
  print("no it's not")

enter course name:dl
no it's not

✅ Problem 1: Weather app

Input temperature

if > 35 → "Hot day"

if 20–35 → "Normal day"

else → "Cold day"

In [ ]:
temperature = int(input("enter Temperature:"))

if temperature > 35:
  print("Hot day")
elif temperature > 20:
  print("normal day")
else:
  print("cold day")

enter Temperature:35
normal day

✅ Problem 2: Login system  
Given:  
saved_password = "admin123"  
Input password.  
If correct → login success  
Else → wrong password

In [ ]:
saved_password = "admin123"
password = input("enter passsword:")

if password==saved_password:
  print("Login success")
else:
  print("Wrong Password")

enter passsword:addmin123
Wrong Password

✅ Problem 3: E-commerce offer  
Input purchase amount  
If amount ≥ 5000 → 20% discount  
Else if ≥ 2000 → 10% discount  
Else → no discount  
Print final payable amount.

In [ ]:
purchase_amount= int(input("Enter Purchased amount:"))

if purchase_amount>=5000:
  print("20% dicount available")
  print(purchase_amount-(purchase_amount*20/100))
elif purchase_amount>= 2000:
  print("10% discount available")
  print(purchase_amount-(purchase_amount*10/100))
else:
  print("no discount")

Enter Purchased amount:3000
10% discount available
2700.0

In [ ]:
purchase_amount= int(input("Enter Purchased amount:"))

if purchase_amount >= 5000:
  discount_rate =0.20
elif purchase_amount >= 2000:
  discount_rate = 0.10
else:
  discount_rate = 0

discount = purchase_amount * discount_rate
final_amount = purchase_amount - discount

print("Discount applied:",discount)
print("Payable amount:",final_amount)

Enter Purchased amount:4500
Discount applied: 450.0
Payable amount: 4050.0

✅ Problem 4: Scholarship system  
Input marks and income  
Eligible if:  
•	marks ≥ 85      
•	income < 300000     
Use logical operators.

In [ ]:
marks_obtained = int(input("Enter marks gained:"))
income = float(input("enter family income:"))

if marks_obtained>=85 and income <300000:
  print("Student is Eligible for Scholorship")
else:
  print("Student is Not Eligible for Scholorship")

Enter marks gained:88
enter family income:88000
Student is Eligible for Scholorship